{"openapi":"3.1.0","info":{"title":"Pagamentos em Lote","description":"API para realizar consultas, requisições, liberações, cancelamentos, etc., de pagamentos em lote.","contact":{"name":"Banco do Brasil S.A. - Portal Developers","url":"https://developers.bb.com.br"},"version":"1.1.2"},"externalDocs":{"description":"APIs no BB - Documentação de Apoio","url":"https://apoio.developers.bb.com.br/apis"},"servers":[{"url":"https://pagamentos-lote.mtls.api.hm.bb.com.br/v1","description":"Teste"},{"url":"https://pagamentos-lote.mtls.api.bb.com.br/v1","description":"Produção"}],"paths":{"/lotes-darf-normal-preto":{"post":{"tags":["DARF Preto"],"summary":"Solicitar pagamento em lote de DARF","description":"Efetua solicitação de pagamentos em lote de Darf Normal e Darf Preto.\n<br>Responses de erro mais comuns atualmente:\n\n```(json)\n{\n\t\"errors\": [\n\t\t{\n\t\t\t\"codigo\": \"1\",\n\t\t\t\"versao\": \"1.1.2\",\n\t\t\t\"mensagem\": \"Ocorreu um problema.\",\n\t\t\t\"ocorrencia\": \"401b5ba39c8b41abaeb3dd79360dbd46\"\n\t\t}\n\t]\n}\n```","operationId":"18917909","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"Identificação da solicitação de pagamento. Número único, não sequencial, controlado pelo cliente.","examples":["1210"]},"codigoContrato":{"type":"integer","format":"int32","description":"Contrato de pagamento entre o terceiro e o Banco do Brasil.","examples":["123456"]},"numeroAgenciaDebito":{"type":"integer","format":"int32","description":"Número da agência utilizada para débito.","examples":["1234"]},"numeroContaCorrenteDebito":{"type":"integer","format":"int64","description":"Número da conta corrente utilizada para débito.","examples":["56789"]},"digitoVerificadorContaCorrenteDebito":{"type":"string","description":"Dígito verificador da conta corrente de débito.","maxLength":1,"examples":["X"]},"lancamentos":{"type":"array","description":"Lista com até 100 guias a serem pagas.","maxItems":100,"items":{"type":"object","properties":{"dataPagamento":{"type":"integer","format":"int32","description":"Data da efetuação do pagamento.\nFormato: ddMMyyyy","examples":["17042026"]},"valorPagamento":{"type":"number","format":"float","description":"Valor do lançamento.","examples":["40.75"]},"numeroDocumentoDebito":{"type":"string","description":"Quando não informado ou informados números idênticos para todos os lançamentos de uma mesma requisição: o débito na conta do pagador será exibido em um único registro no valor total dos lançamentos validados.<br>\nQuando informados números diversos para cada lançamento: os débitos serão exibidos de forma individualizada no extrato da conta debitada.<br>\nO número de documento do débito é consolidado a partir do dia seguinte da efetivação destes lançamentos.","maxLength":15,"examples":["361751"]},"codigoSeuDocumento":{"type":"string","description":"Seu número na solicitação de pagamento. Não validado pelo Banco.","maxLength":20},"textoDescricaoPagamento":{"type":"string","description":"Campo de uso livre pelo Cliente Conveniado - sem tratamento pelo Banco.","maxLength":40},"codigoReceitaTributo":{"type":"integer","format":"int32","description":"Código da receita do tributo na Receita Federal.","examples":["1007"]},"codigoTipoContribuinte":{"type":"integer","format":"int32","description":"Código do tipo de contribuinte na Guia da Previdência Social.<br>\nDOMÍNIO:<br>\n1 - CNPJ;<br>\n2 - CPF;<br>\n3 - NIT/PIS/PASEP;<br>\n4 - CEI;<br>\n6 - NB;<br>\n7 - N° Título;<br>\n8 - DEBCAD;<br>\n9- Referência.","examples":["1"]},"numeroIdentificacaoContribuinte":{"type":"string","description":"Número de identificação do contribuinte.","maxLength":14,"examples":["12345678000110"]},"codigoIdentificadorTributo":{"type":"string","description":"Código de identificação do tributo.","maxLength":2,"examples":["17"]},"dataApuracao":{"type":"integer","format":"int32","description":"Data do período de apuração.","examples":["17032026"]},"numeroReferencia":{"type":"integer","format":"int64","description":"Número de referência.","examples":["0"]},"valorPrincipal":{"type":"number","format":"float","description":"Valor do principal.","examples":["40.75"]},"valorMulta":{"type":"number","format":"float","description":"Valor da multa.","examples":["0"]},"valorJuroEncargo":{"type":"number","format":"float","description":"Valor dos juros/encargos.","examples":["0"]},"dataVencimento":{"type":"integer","format":"int32","description":"Data de vencimento. Formato: \"ddmmaaaaa\".","examples":["17052026"]}},"required":["dataPagamento","valorPagamento","codigoReceitaTributo","codigoTipoContribuinte","numeroIdentificacaoContribuinte","codigoIdentificadorTributo","valorPrincipal","dataVencimento"]}}},"required":["id","codigoContrato","numeroAgenciaDebito","numeroContaCorrenteDebito","digitoVerificadorContaCorrenteDebito","lancamentos"]}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"Identificação da solicitação de pagamento. Número único, não sequencial, controlado pelo cliente.","examples":["1210"]},"codigoEstado":{"type":"integer","format":"int32","description":"Código que identifica o estado da solicitação. <br>\n1 - Todos os lançamentos com dados consistentes; <br>\n2 - Ao menos lançamento com dados inconsistentes; <br>\n3 - Todos os lançamentos com dados inconsistentes; <br>\n4 - Pendente de ação pelo Conveniado - falta autorizar o pagamento; <br>\n5 - Em processamento pelo Banco; <br>\n6 - Processada; <br>\n7 - Rejeitada; <br>\n8 - Preparando remessa não liberada; <br>\n9 - Liberada via API; <br>\n10 - Preparando remessa liberada.","examples":["1"]},"quantidadeLancamentos":{"type":"integer","format":"int32","description":"Quantidade total de Pagamentos","examples":["1"]},"valorLancamentos":{"type":"number","format":"float","description":"Valor total dos lançamentos.","examples":["40.75"]},"quantidadeLancamentosValidos":{"type":"integer","format":"int32","description":"Quantidade total de lançamentos válidos","examples":["0"]},"valorLancamentosValidos":{"type":"number","format":"float","description":"Valor total dos lançamentos válidos.","examples":["0"]},"lancamentos":{"type":"array","description":"Lista com resultado de até 100 lançamentos de pagamentos.","maxItems":100,"items":{"type":"object","properties":{"codigoIdentificadorPagamento":{"type":"integer","format":"int64","description":"Identificação do lançamento, retornada pelo Banco no momento da solicitação.","examples":["90001210123456001"]},"nomeConvenente":{"type":"string","description":"Nome do recebedor/conveniado que emitiu a guia.","maxLength":40},"dataPagamento":{"type":"integer","format":"int32","description":"Data da efetuação do pagamento.\nFormato: ddMMyyyy.","examples":["17042026"]},"valorPagamento":{"type":"number","format":"float","description":"Valor do lançamento.","examples":["40.75"]},"numeroDocumentoDebito":{"type":"integer","format":"int64","description":"Quando não informado ou informados números idênticos para todos os lançamentos de uma mesma requisição: o débito na conta do pagador será exibido em um único registro no valor total dos lançamentos validados.<br>\nQuando informados números diversos para cada lançamento: os débitos serão exibidos de forma individualizada no extrato da conta debitada.<br>\nO número de documento do débito é consolidado a partir do dia seguinte da efetivação destes lançamentos.","examples":["361751"]},"codigoSeuDocumento":{"type":"string","description":"Seu número na solicitação de pagamento. Não validado pelo Banco.","maxLength":20},"textoDescricaoPagamento":{"type":"string","description":"Campo de uso livre pelo Cliente Conveniado - sem tratamento pelo Banco.","maxLength":40},"codigoReceitaTributo":{"type":"integer","format":"int32","description":"Código da receita do tributo na Receita Federal.","examples":["1007"]},"codigoTipoContribuinte":{"type":"integer","format":"int32","description":"Código do tipo de contribuinte na Guia da Previdência Social.<br>\nDOMÍNIO:<br>\n1 - CNPJ;<br>\n2 - CPF;<br>\n3 - NIT/PIS/PASEP;<br>\n4 - CEI;<br>\n6 - NB;<br>\n7 - N° Título;<br>\n8 - DEBCAD;<br>\n9- Referência.","examples":["1"]},"numeroIdentificacaoContribuinte":{"type":"string","description":"Número de identificação do contribuinte.","maxLength":14,"examples":["12345678000110"]},"codigoIdentificadorTributo":{"type":"string","description":"Código de identificação do tributo.","maxLength":2,"examples":["17"]},"dataApuracao":{"type":"integer","format":"int32","description":"Data do período de apuração.","examples":["17032026"]},"numeroReferencia":{"type":"integer","format":"int64","description":"Número de referência.","examples":["0"]},"valorPrincipal":{"type":"number","format":"float","description":"Valor do principal.","examples":["40.75"]},"valorMulta":{"type":"number","format":"float","description":"Valor da multa.","examples":["0"]},"valorJuroEncargo":{"type":"number","format":"float","description":"Valor dos juros/encargos.","examples":["0"]},"dataVencimento":{"type":"integer","format":"int32","description":"Data de vencimento. Formato: \"ddmmaaaaa\".","examples":["17052026"]},"indicadorMovimentoAceito":{"type":"string","description":"Indicador de validação do preenchimento dos campos de cada lançamento.<br>\nS = Sim (Indica que os dados foram informados conforme regra de preenchimento).<br>\nN = Não (Indica que os dados não foram informados conforme regra de preenchimento).<br>\nQuando não aceito o Cliente Conveniado deverá observar os erros descritos nos campos Código de Erros e enviar novo Lançamento com os dados corrigidos.<br>\nQuando aceito o Cliente Conveniado deverá aguardar a validação dos dados","maxLength":1,"examples":["N"]},"erros":{"type":"array","maxItems":10,"items":{"type":"integer","format":"int32","description":"Lista dos códigos que motivaram a não conclusão do lançamento. Devem ser verificados para correção dos dados. [Disponível aqui.](https://apoio.developers.bb.com.br/apis/23?versaoApi=1&topico=17214435)","examples":["53"]}}}}}}}}}},"422":{"description":"Erro Negocial","content":{"application/json":{"schema":{"$ref":"#/components/schemas/erroMsg"}}}},"500":{"description":"Erro Sistema","content":{"application/json":{"schema":{"$ref":"#/components/schemas/erroMsg"}}}}},"security":[{"apikey":[]},{"mutualTLS":["pagamentos-lote.pagamentos-guias-sem-codigo-barras-requisicao"]},{"OAuth2_Teste":["pagamentos-lote.pagamentos-guias-sem-codigo-barras-requisicao"]},{"OAuth2_Producao":["pagamentos-lote.pagamentos-guias-sem-codigo-barras-requisicao"]}]}},"/gps/{idLancamento}":{"get":{"tags":["GPS"],"summary":"Consultar lançamento específico de Guia da Previdência Social","description":"Detalha os dados de um lançamento de Guia da Previdência Social.\n<br>Responses de erro mais comuns atualmente:\n\n```(json)\n{\n\t\"errors\": [\n\t\t{\n\t\t\t\"codigo\": \"1\",\n\t\t\t\"versao\": \"1.1.2\",\n\t\t\t\"mensagem\": \"Ocorreu um problema.\",\n\t\t\t\"ocorrencia\": \"401b5ba39c8b41abaeb3dd79360dbd46\"\n\t\t}\n\t]\n}\n```","operationId":"18917913","parameters":[{"name":"idLancamento","in":"path","description":"Identificação do lançamento, retornada pelo Banco no momento da solicitação. Valor varia de 90000000000000001 a 99999999999999999.","required":true,"example":"90001210123456001","schema":{"format":"int64","pattern":"^\\d{1,17}$","type":"integer"}},{"name":"agencia","in":"query","description":"Número da agência utilizada para débito.","required":false,"example":"1234","schema":{"format":"int32","type":"integer"}},{"name":"contaCorrente","in":"query","description":"Número da conta corrente utilizada para débito.","required":false,"example":"56789","schema":{"format":"int64","type":"integer"}},{"name":"digitoVerificador","in":"query","description":"Dígito verificador da conta corrente de débito.","required":false,"example":"X","schema":{"type":"string","maxLength":1}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":"Identificação do lançamento, retornada pelo Banco no momento da solicitação.","examples":["90001210123456001"]},"estadoPagamento":{"type":"string","description":"Código que identifica o estado do lançamento, descrito conforme a seguir: <br>\n1 - Consistente, <br>\n2 - Inconsistente, <br>\n3 - Pendente, <br>\n4 - Agendado, <br>\n5 - Pago, <br>\n6 - Rejeitado, <br>\n7 - Devolvido, <br>\n8 - Cancelado, <br>\n9 - Debitado, <br>\n10 - Bloqueado, <br>\n11 - Aguardando Débito.","maxLength":20,"examples":["CONSISTENTE"]},"agenciaDebito":{"type":"integer","format":"int32","description":"Número da agência utilizada para débito.","examples":["1234"]},"contaCorrenteDebito":{"type":"integer","format":"int64","description":"Número da conta corrente utilizada para débito.","examples":["56789"]},"digitoVerificadorContaCorrenteDebito":{"type":"string","description":"Dígito verificador da conta corrente de débito.","maxLength":1,"examples":["X"]},"inicioCartaoCredito":{"type":"integer","format":"int32","description":"Primeiros 4 numeros do cartao de credito do pagador, caso o debito tenha sido feito nele.","examples":["0"]},"fimCartaoCredito":{"type":"integer","format":"int32","description":"Últimos 4 numeros do cartao de credito do pagador, caso o debito tenha sido feito nele.","examples":["0"]},"dataPagamento":{"type":"integer","format":"int32","description":"Data da efetuação do pagamento.\n\nFormato: ddMMyyyy","examples":["17042026"]},"valorPagamento":{"type":"number","format":"float","description":"Valor do lançamento.","examples":["400.75"]},"documentoDebito":{"type":"integer","format":"int64","description":"Quando não informado ou informados números idênticos para todos os lançamentos de uma mesma requisição: o débito na conta do pagador será exibido em um único registro no valor total dos lançamentos validados. <br>\nQuando informados números diversos para cada lançamento: os débitos serão exibidos de forma individualizada no extrato da conta debitada. <br>\nO número de documento do débito é consolidado a partir do dia seguinte da efetivação destes lançamentos.","examples":["361751"]},"codigoAutenticacaoPagamento":{"type":"string","description":"Código de autenticação do pagamento.","maxLength":16,"examples":["F033A03D67666112"]},"listaPagamentos":{"type":"array","description":"listaPagamentos","maxItems":1,"items":{"type":"object","properties":{"codigo":{"type":"integer","format":"int32","description":"Código tributo na Receita Federal.","examples":["1007"]},"tipoContribuinte":{"type":"integer","format":"int32","description":"Código do tipo de identificação do contribuinte.","examples":["1"]},"identificacaoContribuinte":{"type":"string","description":"Número identificação do contribuinte conforme tipo informado no campo precedente (Código Tipo Contribuinte Normal).","maxLength":14,"examples":["12345678000110"]},"identificacaoGPS":{"type":"string","description":"Codigo identificador do tributo.","maxLength":2,"examples":["17"]},"mesAnoCompetencia":{"type":"integer","format":"int32","description":"Mês e Ano de competência.","examples":["32026"]},"valorINSS":{"type":"number","format":"float","description":"Valor previsto do pgto do INSS.","examples":["400.75"]},"valorAtualizacaoMonetaria":{"type":"number","format":"float","description":"Valor da atualização monetária.","examples":["0"]},"texto":{"type":"string","description":"Campo de uso livre pelo Cliente Conveniado - sem tratamento pelo Banco.","maxLength":40}}}},"listaDevolucao":{"type":"array","description":"listaDevolucao","maxItems":10,"items":{"type":"object","properties":{"codigoMotivo":{"type":"integer","format":"int32","description":"Quando o pagamento estiver na situação: <br>\nInconsistente ou Rejeitado - Detalha os motivos da rejeição do lançamento. <br>\nDevolvido - Detalha os motivos da devolução informada pelo Beneficiario do pagamento devolvido.","examples":["0"]}}}}}}}}},"422":{"description":"Erro Negocial","content":{"application/json":{"schema":{"$ref":"#/components/schemas/erroMsg"}}}},"500":{"description":"Erro Sistema","content":{"application/json":{"schema":{"$ref":"#/components/schemas/erroMsg"}}}}},"security":[{"apikey":[]},{"mutualTLS":["pagamentos-lote.pagamentos-info"]},{"OAuth2_Teste":["pagamentos-lote.pagamentos-info"]},{"OAuth2_Producao":["pagamentos-lote.pagamentos-info"]}]}},"/lotes-gps/{idRequisicao}/solicitacao":{"get":{"tags":["GPS"],"summary":"Consultar requisição de Guia da Previdência Social","description":"Consulta a solicitação de pagamento em lote de GPS.\n\nGeralmente utilizada quando:\n\n- A empresa não recebeu a confirmação de acolhimento da solicitação;\n- É necessário recuperar a resposta original da funcionalidade de solicitar pagamento;\n- Seja preciso confirmar que o número da requisição de pagamento já foi utilizado.\n<br>Responses de erro mais comuns atualmente:\n\n```(json)\n{\n\t\"errors\": [\n\t\t{\n\t\t\t\"codigo\": \"1\",\n\t\t\t\"versao\": \"1.1.2\",\n\t\t\t\"mensagem\": \"Ocorreu um problema.\",\n\t\t\t\"ocorrencia\": \"401b5ba39c8b41abaeb3dd79360dbd46\"\n\t\t}\n\t]\n}\n```","operationId":"18917914","parameters":[{"name":"idRequisicao","in":"path","description":"Identificação da solicitação de pagamento. É um número único, não sequencial, controlado pelo cliente, cujo valor varia de 1 a 9999999.","required":true,"example":"1210","schema":{"format":"int32","pattern":"^\\d{1,7}$","type":"integer"}},{"name":"numeroAgenciaDebito","in":"query","description":"Número da agência utilizada para débito.","required":false,"example":"1234","schema":{"format":"int32","type":"integer"}},{"name":"numeroContaCorrenteDebito","in":"query","description":"Número da conta corrente utilizada para débito.","required":false,"example":"56789","schema":{"format":"int64","type":"integer"}},{"name":"digitoVerificadorContaCorrenteDebito","in":"query","description":"Dígito verificador da conta corrente de débito.","required":false,"example":"X","schema":{"type":"string","maxLength":1}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"numeroRequisicao":{"type":"integer","format":"int32","description":"Identificação da solicitação de pagamento. Número único, não sequencial, controlado pelo cliente.","examples":["1210"]},"codigoEstadoRequisicao":{"type":"integer","format":"int32","description":"Código que identifica o estado da solicitação.\n\n1 - Todos os lançamentos com dados consistentes;\n\n2 - Ao menos um dos lançamentos com dados inconsistentes;\n\n3 - Todos os lançamentos com dados inconsistentes;\n\n4 - Pendente de ação pelo Conveniado - falta autorizar o pagamento;\n\n5 - Em processamento pelo Banco;\n\n6 - Processada;\n\n7 - Rejeitada,\n\n8 - Preparando remessa não liberada,\n\n9 - Liberada via API,\n\n10 - Preparando remessa liberada.","examples":["1"]},"quantidadeTotalLancamento":{"type":"integer","format":"int32","description":"Quantidade total de Pagamentos","examples":["10"]},"valorTotalLancamento":{"type":"number","format":"float","description":"Valor total dos lançamentos.","examples":["4000.75"]},"quantidadeTotalValido":{"type":"integer","format":"int32","description":"Quantidade total de lançamentos válidos","examples":["8"]},"valorLancamentosValidos":{"type":"number","format":"float","description":"Valor total dos lançamentos válidos.","examples":["3000.75"]},"lancamentos":{"type":"array","description":"Lista com resultado de até 100 lançamentos de pagamentos.","maxItems":100,"items":{"type":"object","properties":{"codigoIdentificadorPagamento":{"type":"integer","format":"int64","description":"Identificação do lançamento, retornada pelo Banco no momento da solicitação.","examples":["90001210123456001"]},"nomeConvenente":{"type":"string","description":"Nome do convenente.","maxLength":40},"dataPagamento":{"type":"integer","format":"int32","description":"Data da efetuação do pagamento.\n\nFormato: ddMMyyyy","examples":["17042026"]},"valorPagamento":{"type":"number","format":"float","description":"Valor do lançamento.","examples":["400.75"]},"numeroDocumentoDebito":{"type":"integer","format":"int64","description":"Quando não informado ou informados números idênticos para todos os lançamentos de uma mesma requisição: o débito na conta do pagador será exibido em um único registro no valor total dos lançamentos validados. <br>\nQuando informados números diversos para cada lançamento: os débitos serão exibidos de forma individualizada no extrato da conta debitada. <br>\nO número de documento do débito é consolidado a partir do dia seguinte da efetivação destes lançamentos.","examples":["361751"]},"codigoSeuDocumento":{"type":"string","description":"Seu número na solicitação de pagamento. Não validado pelo Banco.","maxLength":20},"textoDescricaoPagamento":{"type":"string","description":"Campo de uso livre pelo Cliente Conveniado - sem tratamento pelo Banco.","maxLength":40},"codigoReceitaTributoGuiaPrevidenciaSocial":{"type":"integer","format":"int32","description":"Código da receita do tributo Guia da Previdência Social - GPS.","examples":["1007"]},"codigoTipoContribuinteGuiaPrevidenciaSocial":{"type":"integer","format":"int32","description":"Código do tipo de contribuinte na Guia da Previdência Social - GPS. <br>\nDOMÍNIO: <br>\n1 - CNPJ; <br>\n2 - CPF; <br>\n3 - NIT/PIS/PASEP; <br>\n4 - CEI; <br>\n6 - NB; <br>\n7 - N° Título; <br>\n8 - DEBCAD; <br>\n9- Referência.","examples":["1"]},"numeroIdentificacaoContribuinteGuiaPrevidenciaSocial":{"type":"string","description":"Número de identificação do contribuinte.","maxLength":14,"examples":["12345678000110"]},"codigoIdentificadorTributoGuiaPrevidenciaSocial":{"type":"string","description":"Número de identificação na Previdência (limitado a 2 caracteres).","maxLength":2,"examples":["17"]},"mesAnoCompetenciaGuiaPrevidenciaSocial":{"type":"integer","format":"int32","description":"Mês e ano de competência. Formato: mmaaaa.","examples":["32026"]},"valorPrevistoInstNacSeguridadeSocialGuiaPrevidenciaSocial":{"type":"number","format":"float","description":"Valor devido ao INSS pelo contribuinte.","examples":["400.75"]},"valorOutroEntradaGuiaPrevidenciaSocial":{"type":"number","format":"float","description":"Valor outras entidades.","examples":["0"]},"valorAtualizacaoMonetarioGuiaPrevidenciaSocial":{"type":"number","format":"float","description":"Valor da atualização monetária.","examples":["0"]},"textoGuiaPrevidenciaSocial":{"type":"string","description":"Texto geral complemento informação.","maxLength":40},"indicadorMovimentoAceito":{"type":"string","description":"Indicador de validação do preenchimento dos campos de cada lançamento. <br>\nS = Sim (Indica que os dados foram informados conforme regra de preenchimento).<br>\nN = Não (Indica que os dados não foram informados conforme regra de preenchimento).<br>\nQuando não aceito o Cliente Conveniado deverá observar os erros descritos nos campos Código de Erros e enviar novo Lançamento com os dados corrigidos.<br>\nQuando aceito o Cliente Conveniado deverá aguardar a validação dos dados","maxLength":1,"examples":["N"]},"erros":{"type":"array","maxItems":10,"items":{"type":"integer","format":"int32","description":"Lista dos códigos que motivaram a não conclusão do lançamento. Devem ser verificados para correção dos dados. [Disponível aqui.](https://apoio.developers.bb.com.br/apis/23?versaoApi=1&topico=17214435)","examples":["53"]}}}}}}}}}},"422":{"description":"Erro Negocial","content":{"application/json":{"schema":{"$ref":"#/components/schemas/erroMsg"}}}},"500":{"description":"Erro Sistema","content":{"application/json":{"schema":{"$ref":"#/components/schemas/erroMsg"}}}}},"security":[{"apikey":[]},{"mutualTLS":["pagamentos-lote.pagamentos-guias-sem-codigo-barras-info"]},{"OAuth2_Teste":["pagamentos-lote.pagamentos-guias-sem-codigo-barras-info"]},{"OAuth2_Producao":["pagamentos-lote.pagamentos-guias-sem-codigo-barras-info"]}]}},"/lotes-guias-codigo-barras":{"post":{"tags":["Código de Barras"],"summary":"Solicitar pagamento em lote de guias com código de barras","description":"Efetua solicitação de pagamentos em lote de guias com código de barras.\n<br>Responses de erro mais comuns atualmente:\n\n```(json)\n{\n\t\"errors\": [\n\t\t{\n\t\t\t\"codigo\": \"1\",\n\t\t\t\"versao\": \"1.1.2\",\n\t\t\t\"mensagem\": \"Ocorreu um problema.\",\n\t\t\t\"ocorrencia\": \"401b5ba39c8b41abaeb3dd79360dbd46\"\n\t\t}\n\t]\n}\n```","operationId":"18917905","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"numeroRequisicao":{"type":"integer","format":"int32","description":"Identificação da solicitação de pagamento. Número único, não sequencial, controlado pelo cliente.","examples":["1210"]},"codigoContrato":{"type":"integer","format":"int32","description":"Contrato de pagamento entre o terceiro e o Banco do Brasil.","examples":["123456"]},"numeroAgenciaDebito":{"type":"integer","format":"int32","description":"Número da agência utilizada para débito.","examples":["1234"]},"numeroContaCorrenteDebito":{"type":"integer","format":"int64","description":"Número da conta corrente utilizada para débito.","examples":["56789"]},"digitoVerificadorContaCorrenteDebito":{"type":"string","description":"Dígito verificador da conta corrente de débito.","maxLength":1,"examples":["X"]},"lancamentos":{"type":"array","description":"Lista de Guias de Pagamento detalhadas","maxItems":100,"items":{"type":"object","properties":{"codigoBarras":{"type":"string","description":"Define o código de barras numérico da Guia de Recolhimento.","maxLength":44,"examples":["83630000000641400052836100812355200812351310"]},"dataPagamento":{"type":"integer","format":"int32","description":"Data da efetuação do pagamento.\n\nFormato: ddMMyyyy","examples":["17042026"]},"valorPagamento":{"type":"number","format":"float","description":"Valor do lançamento.","examples":["400.75"]},"numeroDocumentoDebito":{"type":"integer","format":"int64","description":"Quando não informado ou informados números idênticos para todos os lançamentos de uma mesma requisição: o débito na conta do pagador será exibido em um único registro no valor total dos lançamentos validados.\n\nQuando informados números diversos para cada lançamento: os débitos serão exibidos de forma individualizada no extrato da conta debitada.\n\nO número de documento do débito é consolidado a partir do dia seguinte da efetivação destes lançamentos.","examples":["361751"]},"codigoSeuDocumento":{"type":"string","description":"Nº de uso livre pelo cliente conveniado. Equivalente ao Seu Número (Limitado a 20 caracteres).","maxLength":20},"descricaoPagamento":{"type":"string","description":"Campo de uso livre pelo Cliente Conveniado - sem tratamento pelo Banco.","maxLength":40}},"required":["codigoBarras","dataPagamento","valorPagamento"]}}},"required":["numeroRequisicao","numeroAgenciaDebito","numeroContaCorrenteDebito","digitoVerificadorContaCorrenteDebito","lancamentos"]}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"numeroRequisicao":{"type":"integer","format":"int32","description":"Identificação da solicitação de pagamento. Número único, não sequencial, controlado pelo cliente.","examples":["1210"]},"codigoEstado":{"type":"integer","format":"int32","description":"Código que identifica o estado da solicitação. <br>\n1 - Todos os lançamentos com dados consistentes; <br>\n2 - Ao menos um dos lançamentos com dados inconsistentes; <br>\n3 - Todos os lançamentos com dados inconsistentes; <br>\n4 - Pendente de ação pelo Conveniado - falta autorizar o pagamento; <br>\n5 - Processamento pelo Banco; <br>\n6 - Processada; <br>\n7 - Rejeitada; <br>\n8 - Preparando remessa não liberada; <br>\n9 - Liberada via API; <br>\n10 - Preparando remessa liberada.","examples":["1"]},"quantidadeLancamentos":{"type":"integer","format":"int32","description":"Quantidade total de Pagamentos","examples":["1"]},"valorLancamentos":{"type":"number","format":"float","description":"Valor total dos lançamentos.","examples":["400.75"]},"quantidadeLancamentosValidos":{"type":"integer","format":"int32","description":"Quantidade total de lançamentos válidos","examples":["1"]},"valorLancamentosValidos":{"type":"number","format":"float","description":"Valor total dos lançamentos válidos.","examples":["400.75"]},"lancamentos":{"type":"array","description":"Lista de pagamentos a serem processados em lote.","maxItems":100,"items":{"type":"object","properties":{"codigoIdentificadorPagamento":{"type":"integer","format":"int64","description":"Identificação do lançamento, retornada pelo Banco no momento da solicitação.","examples":["90001210123456001"]},"nomeBeneficiario":{"type":"string","description":"Nome da pessoa ou empresa beneficiária no pagamento","maxLength":40},"codigoBarras":{"type":"string","description":"Define o código de barras numérico da Guia de Recolhimento.","maxLength":44,"examples":["83630000000641400052836100812355200812351310"]},"dataPagamento":{"type":"integer","format":"int32","description":"Data da efetuação do pagamento.\n\nFormato: ddMMyyyy","examples":["17042026"]},"valorPagamento":{"type":"number","format":"float","description":"Valor do lançamento.","examples":["400.75"]},"numeroDocumentoDebito":{"type":"integer","format":"int64","description":"Quando não informado ou informados números idênticos para todos os lançamentos de uma mesma requisição: o débito na conta do pagador será exibido em um único registro no valor total dos lançamentos validados.\n\nQuando informados números diversos para cada lançamento: os débitos serão exibidos de forma individualizada no extrato da conta debitada.\n\nO número de documento do débito é consolidado a partir do dia seguinte da efetivação destes lançamentos.","examples":["361751"]},"codigoSeuDocumento":{"type":"string","description":"Nº de uso livre pelo cliente conveniado. Equivalente ao Seu Número (Limitado a 20 caracteres).","maxLength":20},"descricaoPagamento":{"type":"string","description":"Campo de uso livre pelo Cliente Conveniado - sem tratamento pelo Banco.","maxLength":40},"indicadorAceite":{"type":"string","description":"Indicador de validação do preenchimento dos campos de cada lançamento.\n\nS = Sim (Indica que os dados foram informados conforme regra de preenchimento).\n\nN = Não (Indica que os dados não foram informados conforme regra de preenchimento).\n\nQuando não aceito o Cliente Conveniado deverá observar os erros descritos nos campos Código de Erros e enviar novo Lançamento com os dados corrigidos.\n\nQuando aceito o Cliente Conveniado deverá aguardar a validação dos dados","maxLength":1,"examples":["S"]},"errors":{"type":"array","maxItems":10,"items":{"type":"integer","format":"int32","description":"Lista dos códigos que motivaram a não conclusão do lançamento. Devem ser verificados para correção dos dados.  [Disponível aqui.](https://apoio.developers.bb.com.br/apis/23?versaoApi=1&topico=17214435)","examples":["0"]}}}}}}}}}},"422":{"description":"Erro Negocial","content":{"application/json":{"schema":{"$ref":"#/components/schemas/erroMsg"}}}},"500":{"description":"Erro Sistema","content":{"application/json":{"schema":{"$ref":"#/components/schemas/erroMsg"}}}}},"security":[{"apikey":[]},{"mutualTLS":["pagamentos-lote.guias-codigo-barras-requisicao"]},{"OAuth2_Teste":["pagamentos-lote.guias-codigo-barras-requisicao"]},{"OAuth2_Producao":["pagamentos-lote.guias-codigo-barras-requisicao"]}]}},"/boletos/{idLancamento}":{"get":{"tags":["Boletos"],"summary":"Consultar pagamento específico de boleto","description":"Detalha os dados de um lançamento de boleto.\n<br>Responses de erro mais comuns atualmente:\n\n```(json)\n{\n\t\"errors\": [\n\t\t{\n\t\t\t\"codigo\": \"1\",\n\t\t\t\"versao\": \"1.1.2\",\n\t\t\t\"mensagem\": \"Ocorreu um problema.\",\n\t\t\t\"ocorrencia\": \"401b5ba39c8b41abaeb3dd79360dbd46\"\n\t\t}\n\t]\n}\n```","operationId":"18917903","parameters":[{"name":"idLancamento","in":"path","description":"Identificação do lançamento, retornada pelo Banco no momento da solicitação. Valor varia de 90000000000000001 a 99999999999999999.","required":true,"example":"90001210123456001","schema":{"format":"int64","pattern":"^\\d{1,17}$","type":"integer"}},{"name":"agencia","in":"query","description":"Número da agência utilizada para débito","required":false,"example":"1234","schema":{"format":"int32","type":"integer"}},{"name":"contaCorrente","in":"query","description":"Número da conta corrente utilizada para débito.","required":false,"example":"56789","schema":{"format":"int64","type":"integer"}},{"name":"digitoVerificador","in":"query","description":"Dígito verificador da conta corrente de débito.","required":false,"example":"X","schema":{"type":"string","maxLength":1}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":"Identificação do lançamento, retornada pelo Banco no momento da solicitação.","examples":["90001210123456001"]},"estadoPagamento":{"type":"string","description":"Texto que identifica o estado do lançamento, descrito conforme a seguir: <br>\n1 - Consistente, <br>\n2 - Inconsistente, <br>\n3 - Pendente, <br>\n4 - Agendado, <br>\n5 - Pago, <br>\n6 - Rejeitado, <br>\n7 - Devolvido, <br>\n8 - Cancelado, <br>\n9 - Debitado, <br>\n10 - Bloqueado, <br>\n11 - Aguardando Débito.","maxLength":20,"examples":["CONSISTENTE"]},"tipoCredito":{"type":"integer","format":"int32","description":"A modalidade que representa a maneira como o crédito foi dado, descrito a seguir: <br>\n1 - Crédito em conta <br>\n3 - TED <br>\n5 - Crédito em poupança <br>\n13 - Guia com código de barras <br>\n21 - Guia sem código de barra <br>\n30 - Boleto Banco do Brasil <br>\n31 - Boleto outros bancos <br>\n45 - PIX <br>\n71 - Depósito judicial","examples":["30"]},"agenciaDebito":{"type":"integer","format":"int32","description":"Número da agência utilizada para débito.","examples":["1234"]},"contaCorrenteDebito":{"type":"integer","format":"int64","description":"Número da conta corrente utilizada para débito.","examples":["56789"]},"digitoVerificadorContaCorrenteDebito":{"type":"string","description":"Dígito verificador da conta corrente de débito.","maxLength":1,"examples":["X"]},"inicioCartaoCredito":{"type":"integer","format":"int32","description":"Primeiros 4 numeros do cartao de credito do pagador, caso o debito tenha sido feito nele.","examples":["0"]},"fimCartaoCredito":{"type":"integer","format":"int32","description":"Últimos 4 numeros do cartao de credito do pagador, caso o debito tenha sido feito nele.","examples":["0"]},"dataPagamento":{"type":"integer","format":"int32","description":"Data da efetuação do pagamento.\nFormato: ddMMyyyy.","examples":["17042026"]},"valorPagamento":{"type":"number","format":"float","description":"Valor do lançamento.","examples":["400.75"]},"documentoDebito":{"type":"integer","format":"int64","description":"Quando não informado ou informados números idênticos para todos os lançamentos de uma mesma requisição: o débito na conta do pagador será exibido em um único registro no valor total dos lançamentos validados. <br>\nQuando informados números diversos para cada lançamento: os débitos serão exibidos de forma individualizada no extrato da conta debitada. <br>\nO número de documento do débito é consolidado a partir do dia seguinte da efetivação destes lançamentos.","examples":["361751"]},"codigoAutenticacaoPagamento":{"type":"string","description":"Código de autenticação do pagamento.","maxLength":16,"examples":["F033A03D67666112"]},"listaPagamentos":{"type":"array","description":"listaPagamentos","maxItems":100,"items":{"type":"object","properties":{"codigo":{"type":"string","description":"Código de barras do boleto consultado. Não é a linha digitável do boleto.","maxLength":44,"examples":["00197120000000005000000003068980002025000517"]},"nossoDocumento":{"type":"string","description":"Exibe o Nosso Número quando informado na solicitação de pagamento. Não validado pelo Banco.","maxLength":20},"seuDocumento":{"type":"string","description":"Exibe o Seu Número quando informado na solicitação de pagamento. Não validado pelo Banco.","maxLength":20},"tipoPessoaBeneficiario":{"type":"integer","format":"int32","description":"Determina se será enviado um Nº CPF ou um Nº de CNPJ no campo de identificação da pessoa. <br>\n1 - Pessoa Física <br>\n2 - Pessoa Jurídica <br>","examples":["2"]},"documentoBeneficiario":{"type":"string","description":"Identificação de Pessoa Física ou Jurídica.","maxLength":14,"examples":["12345678000110"]},"nomeBeneficiario":{"type":"string","description":"Nome da pessoa ou empresa beneficiária no pagamento","maxLength":40},"tipoPessoaPagador":{"type":"integer","format":"int32","description":"Determina se será enviado um Nº CPF ou um Nº de CNPJ no campo de identificação da pessoa. <br>\n1 - Pessoa Física <br>\n2 - Pessoa Jurídica","examples":["0"]},"documentoPagador":{"type":"string","description":"Identificação de Pessoa Física ou Jurídica.","maxLength":14,"examples":["0"]},"nomePagador":{"type":"string","description":"Nome do Pagador - dado retornado pelo Banco.","maxLength":40},"tipoPessoaAvalista":{"type":"integer","format":"int32","description":"Determina se será enviado um Nº CPF ou um Nº de CNPJ no campo de identificação da pessoa.\n\n1 - Pessoa Física\n\n2 - Pessoa Jurídica","examples":["0"]},"documentoAvalista":{"type":"string","description":"Identificação de Pessoa Física ou Jurídica.","maxLength":14,"examples":["0"]},"nomeAvalista":{"type":"string","description":"Nome do Avalista - dado retornado pelo Banco.","maxLength":40},"dataVencimento":{"type":"integer","format":"int32","description":"Data de vencimento do boleto informado na solicitação de pagamento.","examples":["17052026"]},"dataAgendamento":{"type":"integer","format":"int32","description":"Data do pagamento informado na solicitação de pagamento.","examples":["17042026"]},"valorNominal":{"type":"number","format":"float","description":"Valor do boleto registrado pelo Beneficiário do Boleto e informado na solicitação de pagamento.","examples":["400.75"]},"valorMoraMulta":{"type":"number","format":"float","description":"Valor do mora e multa informado na solicitação de pagamento.","examples":["0.00"]},"valorDesconto":{"type":"number","format":"float","description":"Valor do desconto/abatimento informado na solicitação de pagamento.","examples":["0.0"]},"texto":{"type":"string","description":"Campo de uso livre pelo Cliente Conveniado - sem tratamento pelo Banco.","maxLength":40}}}},"listaDevolucao":{"type":"array","description":"listaDevolucao","maxItems":100,"items":{"type":"object","properties":{"codigoMotivo":{"type":"integer","format":"int32","description":"Quando o pagamento estiver na situação:\n\nInconsistente ou Rejeitado - Detalha os motivos da rejeição do lançamento.\n\nDevolvido - Detalha os motivos da devolução informada pelo Beneficiario do pagamento devolvido.","examples":["0"]},"dataDevolucao":{"type":"integer","format":"int32","description":"Data que o beneficiário do pagamento envio a devolução dos recursos.","examples":["0"]},"valorDevolucao":{"type":"number","format":"float","description":"Valor devolvido pelo beneficiário do pagamento. Pode ser parcial.","examples":["0.0"]}}}}}}}}},"422":{"description":"Erro Negocial","content":{"application/json":{"schema":{"$ref":"#/components/schemas/erroMsg"}}}},"500":{"description":"Erro Sistema","content":{"application/json":{"schema":{"$ref":"#/components/schemas/erroMsg"}}}}},"security":[{"apikey":[]},{"mutualTLS":["pagamentos-lote.pagamentos-info"]},{"OAuth2_Teste":["pagamentos-lote.pagamentos-info"]},{"OAuth2_Producao":["pagamentos-lote.pagamentos-info"]}]}},"/lotes-darf-preto-normal/{idRequisicao}/solicitacao":{"get":{"tags":["DARF Preto"],"summary":"Consultar requisição de DARF Preto Normal","description":"Consulta a solicitação de pagamento em lote de DARF.\n\nGeralmente utilizada quando:\n\n- A empresa não recebeu a confirmação de acolhimento da solicitação;\n\n- É necessário recuperar a resposta original da funcionalidade de solicitar pagamento;\n\n- Seja preciso confirmar que o número da requisição de pagamento já foi utilizado.\n<br>Responses de erro mais comuns atualmente:\n\n```(json)\n{\n\t\"errors\": [\n\t\t{\n\t\t\t\"codigo\": \"1\",\n\t\t\t\"versao\": \"1.1.2\",\n\t\t\t\"mensagem\": \"Ocorreu um problema.\",\n\t\t\t\"ocorrencia\": \"401b5ba39c8b41abaeb3dd79360dbd46\"\n\t\t}\n\t]\n}\n```","operationId":"18917911","parameters":[{"name":"idRequisicao","in":"path","description":"Identificação da solicitação de pagamento. É um número único, não sequencial, controlado pelo cliente, cujo valor varia de 1 a 9999999.","required":true,"example":"1210","schema":{"format":"int32","pattern":"^\\d{1,7}$","type":"integer"}},{"name":"numeroAgenciaDebito","in":"query","description":"Número da agência utilizada para débito.","required":false,"example":"1234","schema":{"format":"int32","type":"integer"}},{"name":"numeroContaCorrenteDebito","in":"query","description":"Número da conta corrente utilizada para débito.","required":false,"example":"56789","schema":{"format":"int64","type":"integer"}},{"name":"digitoVerificadorContaCorrenteDebito","in":"query","description":"Dígito verificador da conta corrente de débito.","required":false,"example":"X","schema":{"type":"string","maxLength":1}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"Identificação da solicitação de pagamento. Número único, não sequencial, controlado pelo cliente.","examples":["1210"]},"codigoEstado":{"type":"integer","format":"int32","description":"Código que identifica o estado da solicitação. <br>\n1 - Todos os lançamentos com dados consistentes; <br>\n2 - Ao menos um dos lançamentos com dados inconsistentes; <br>\n3 - Todos os lançamentos com dados inconsistentes; <br>\n4 - Pendente de ação pelo Conveniado - falta autorizar o pagamento; <br>\n5 - Em processamento pelo Banco; <br>\n6 - Processada; <br>\n7 - Rejeitada, <br>\n8 - Preparando remessa não liberada, <br>\n9 - Liberada via API, <br>\n10 - Preparando remessa liberada.","examples":["1"]},"quantidadeLancamentos":{"type":"integer","format":"int32","description":"Quantidade total de Pagamentos","examples":["10"]},"valorLancamentos":{"type":"number","format":"float","description":"Valor total dos lançamentos.","examples":["4000.75"]},"quantidadeLancamentosValidos":{"type":"integer","format":"int32","description":"Quantidade total de lançamentos válidos","examples":["8"]},"valorLancamentosValidos":{"type":"number","format":"float","description":"Valor total dos lançamentos válidos.","examples":["3000.75"]},"lancamentos":{"type":"array","description":"Lista com resultado dos pagamentos.","maxItems":100,"items":{"type":"object","properties":{"nomeConvenente":{"type":"string","description":"Nome do recebedor/conveniado que emitiu a Guia.","maxLength":40},"numeroReferencia":{"type":"integer","format":"int64","description":"Número de referência.","examples":["0"]},"dataVencimento":{"type":"integer","format":"int32","description":"Data de vencimento.","examples":["17052026"]},"pagamento":{"type":"array","description":"Representação das informações do pagamento.","maxItems":1,"items":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":"Identificação do lançamento, retornada pelo Banco no momento da solicitação.","examples":["90001210123456001"]},"data":{"type":"integer","format":"int32","description":"Data da efetuação do pagamento.\nFormato: ddMMyyyy","examples":["17042026"]},"valor":{"type":"number","format":"float","description":"Valor do lançamento.","examples":["40.75"]},"valorPrincipal":{"type":"number","format":"float","description":"Valor do principal informado na solicitação de pagamento.","examples":["40.75"]},"valorMulta":{"type":"number","format":"float","description":"Valor da multa.","examples":["0.00"]},"valorJuroEncargo":{"type":"number","format":"float","description":"Valor de Juros/Encargos informados na solicitação de pagamento.","examples":["0.00"]},"cpfCnpjContribuinte":{"type":"string","description":"Identificação de Pessoa Física ou Jurídica.","maxLength":14,"examples":["12345678000190"]},"numeroDocumentoDebito":{"type":"integer","format":"int64","description":"Quando não informado ou informados números idênticos para todos os lançamentos de uma mesma requisição: o débito na conta do pagador será exibido em um único registro no valor total dos lançamentos validados.<br>\nQuando informados números diversos para cada lançamento: os débitos serão exibidos de forma individualizada no extrato da conta debitada.<br>\nO número de documento do débito é consolidado a partir do dia seguinte da efetivação destes lançamentos.","examples":["361751"]},"textoDescricao":{"type":"string","description":"Campo de uso livre pelo Cliente Conveniado - sem tratamento pelo Banco.","maxLength":40}}}},"indicadorMovimentoAceito":{"type":"string","description":"Indicador de validação do preenchimento dos campos de cada lançamento. <br>\nS = Sim (Indica que os dados foram informados conforme regra de preenchimento). <br>\nN = Não (Indica que os dados não foram informados conforme regra de preenchimento). <br>\nQuando não aceito o Cliente Conveniado deverá observar os erros descritos nos campos Código de Erros e enviar novo Lançamento com os dados corrigidos. <br>\nQuando aceito o Cliente Conveniado deverá aguardar a validação dos dados","maxLength":1,"examples":["S"]},"codigoClienteContrato":{"type":"integer","format":"int32","description":"MCI do cliente PF ou PJ que fez a integração para utilizar as operações das APIs de Pagamentos e é o detentor do convênio de pagamentos.","examples":["123456789"]},"codigoDocumento":{"type":"string","description":"Codigo Documento.","maxLength":20},"codigoReceitaTributo":{"type":"integer","format":"int32","description":"Codigo tributo na Receita Federal.","examples":["1708"]},"codigoIdentificadorTributo":{"type":"string","description":"Codigo identificador do tributo.","maxLength":2,"examples":["16"]},"codigoTipoContribuinte":{"type":"integer","format":"int32","description":"Codigo do tipo de identificacao do contribuinte. <br>\nDOMÍNIOS: <br>\n1 - CNPJ <br>\n2 - CPF <br>\n3 - NIT/PIS/PASEP <br>\n4 - CEI <br>\n6 - NB <br>\n7 - N° Título <br>\n8 - DEBCAD <br>\n9 - Referência","examples":["1"]},"dataApuracao":{"type":"integer","format":"int32","description":"Data do período de apuração.\n\nFormato: DDMMAAAA","examples":["17032026"]},"erros":{"type":"array","maxItems":10,"items":{"type":"integer","format":"int32","description":"Lista dos códigos que motivaram a não conclusão do lançamento. Devem ser verificados para correção dos dados. [Disponível aqui.](https://apoio.developers.bb.com.br/apis/23?versaoApi=1&topico=17214435)","examples":["0"]}}}}}}}}}},"422":{"description":"Erro Negocial","content":{"application/json":{"schema":{"$ref":"#/components/schemas/erroMsg"}}}},"500":{"description":"Erro Sistema","content":{"application/json":{"schema":{"$ref":"#/components/schemas/erroMsg"}}}}},"security":[{"apikey":[]},{"mutualTLS":["pagamentos-lote.pagamentos-guias-sem-codigo-barras-info"]},{"OAuth2_Teste":["pagamentos-lote.pagamentos-guias-sem-codigo-barras-info"]},{"OAuth2_Producao":["pagamentos-lote.pagamentos-guias-sem-codigo-barras-info"]}]}},"/lotes-gru/{idRequisicao}/solicitacao":{"get":{"tags":["GRU"],"summary":"Consultar requisição de pagamento - GRU","description":"Consulta a solicitação de pagamento em lote de GRU.\n\nGeralmente utilizada quando:\n\n- A empresa não recebeu a confirmação de acolhimento da solicitação;\n- É necessário recuperar a resposta original da funcionalidade de solicitar pagamento;\n- Seja preciso confirmar que o número da requisição de pagamento já foi utilizado.\n<br>Responses de erro mais comuns atualmente:\n\n```(json)\n{\n\t\"errors\": [\n\t\t{\n\t\t\t\"codigo\": \"1\",\n\t\t\t\"versao\": \"1.1.2\",\n\t\t\t\"mensagem\": \"Ocorreu um problema.\",\n\t\t\t\"ocorrencia\": \"401b5ba39c8b41abaeb3dd79360dbd46\"\n\t\t}\n\t]\n}\n```","operationId":"18917917","parameters":[{"name":"idRequisicao","in":"path","description":"Identificação da solicitação de pagamento. É um número único, não sequencial, controlado pelo cliente, cujo valor varia de 1 a 9999999.","required":true,"example":"1210","schema":{"format":"int32","pattern":"^\\d{1,7}$","type":"integer"}},{"name":"numeroAgenciaDebito","in":"query","description":"Número da agência utilizada para débito.","required":false,"example":"1234","schema":{"format":"int32","type":"integer"}},{"name":"numeroContaCorrenteDebito","in":"query","description":"Número da conta corrente utilizada para débito.","required":false,"example":"56789","schema":{"format":"int64","type":"integer"}},{"name":"digitoVerificadorContaCorrenteDebito","in":"query","description":"Dígito verificador da conta corrente de débito.","required":false,"example":"X","schema":{"type":"string","maxLength":1}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"integer","format":"int32","description":"Identificação da solicitação de pagamento. Número único, não sequencial, controlado pelo cliente.","examples":["1210"]},"codigoEstado":{"type":"integer","format":"int32","description":"Código que identifica o estado da solicitação. <br>\n1 - Todos os lançamentos com dados consistentes; <br>\n2 - Ao menos um dos lançamentos com dados inconsistentes; <br>\n3 - Todos os lançamentos com dados inconsistentes; <br>\n4 - Pendente de ação pelo Conveniado - falta autorizar o pagamento; <br>\n5 - Em processamento pelo Banco; <br>\n6 - Processada; <br>\n7 - Rejeitada; <br>\n8 - Preparando remessa não liberada; <br>\n9 - Liberada via API; <br>\n10 - Preparando remessa liberada.","examples":["1"]},"quantidadeLancamentos":{"type":"integer","format":"int32","description":"Quantidade total de Pagamentos","examples":["1"]},"valorLancamentos":{"type":"number","format":"float","description":"Valor total dos lançamentos.","examples":["40.75"]},"quantidadeLancamentosValidos":{"type":"integer","format":"int32","description":"Quantidade total de lançamentos válidos","examples":["1"]},"valorLancamentosValidos":{"type":"number","format":"float","description":"Valor total dos lançamentos válidos.","examples":["40.75"]},"lancamentos":{"type":"array","description":"Lista de pagamentos de GRUs - Atenção: A situação dos lançamentos retornada sempre será a mesma do momento do envio da solicitação de pagamentos. Para verificar a situação atualizada deve ser utilizado o recurso de \"detalhar lançamento\" ou de \"consultar lote\".","maxItems":100,"items":{"type":"object","properties":{"nomeConvenente":{"type":"string","description":"Nome do recebedor/conveniado que emitiu a GRU.","maxLength":40},"textoCodigoBarras":{"type":"string","description":"Código de barras da guia GRU.","maxLength":44,"examples":["89970000000800000010109552316288320117811508"]},"numeroReferencia":{"type":"string","description":"Numero de referência do GRU..","maxLength":20},"dataVencimento":{"type":"integer","format":"int32","description":"Data de vencimento do GRU.","examples":["17052026"]},"mesAnoCompetencia":{"type":"integer","format":"int32","description":"Mês e ano decompetência do GRU. Formato: MMAAAA.","examples":["32026"]},"pagamento":{"type":"object","description":"Representação das informações do pagamento de determinada GRU.","properties":{"id":{"type":"integer","format":"int64","description":"Identificação do lançamento, retornada pelo Banco no momento da solicitação.","examples":["90001210123456001"]},"data":{"type":"integer","format":"int32","description":"Data da efetuação do pagamento.\n\nFormato: ddMMyyyy","examples":["17042026"]},"valor":{"type":"number","format":"float","description":"Valor do lançamento.","examples":["40.75"]},"valorPrincipal":{"type":"number","format":"float","description":"Valor do principal informado na solicitação de pagamento.","examples":["40.75"]},"valorDesconto":{"type":"number","format":"float","description":"Valor de desconto/abatimento informados na solicitação de pagamento.","examples":["0"]},"valorOutroDeducao":{"type":"number","format":"float","description":"Valor de outras deduçoes informadas na solicitação de pagamento.","examples":["0"]},"valorMulta":{"type":"number","format":"float","description":"Valor de mora/multa informadas na solicitação de pagamento.","examples":["0"]},"valorJuroEncargo":{"type":"number","format":"float","description":"Valor de Juros/Encargos informados na solicitação de pagamento.","examples":["0"]},"valorOutro":{"type":"number","format":"float","description":"Valor de outros acréscimos informados na solicitação de pagamento.","examples":["0"]},"cpfCnpjContribuinte":{"type":"string","description":"Número de identificaçao do contribuinte (CPF ou CNPJ).","maxLength":14,"examples":["12345678000110"]},"numeroDocumentoDebito":{"type":"integer","format":"int64","description":"Quando não informado ou informados números idênticos para todos os lançamentos de uma mesma requisição: o débito na conta do pagador será exibido em um único registro no valor total dos lançamentos validados.\n\nQuando informados números diversos para cada lançamento: os débitos serão exibidos de forma individualizada no extrato da conta debitada.\n\nO número de documento do débito é consolidado a partir do dia seguinte da efetivação destes lançamentos.","examples":["361751"]},"textoDescricao":{"type":"string","description":"Campo de uso livre pelo Cliente Conveniado - sem tratamento pelo Banco.","maxLength":40}}},"indicadorMovimentoAceito":{"type":"string","description":"Indicador de validação do preenchimento dos campos de cada lançamento.\n\nS = Sim (Indica que os dados foram informados conforme regra de preenchimento).\n\nN = Não (Indica que os dados não foram informados conforme regra de preenchimento).\n\nQuando não aceito o Cliente Conveniado deverá observar os erros descritos nos campos Código de Erros e enviar novo Lançamento com os dados corrigidos.\n\nQuando aceito o Cliente Conveniado deverá aguardar a validação dos dados","maxLength":1,"examples":["S"]},"erros":{"type":"array","maxItems":10,"items":{"type":"integer","format":"int32","description":"Lista dos códigos que motivaram a não conclusão do lançamento. Devem ser verificados para correção dos dados. [Disponível aqui.](https://apoio.developers.bb.com.br/apis/23?versaoApi=1&topico=17214435)","examples":["0"]}}}}}}}}}},"422":{"description":"Erro Negocial","content":{"application/json":{"schema":{"$ref":"#/components/schemas/erroMsg"}}}},"500":{"description":"Erro Sistema","content":{"application/json":{"schema":{"$ref":"#/components/schemas/erroMsg"}}}}},"security":[{"apikey":[]},{"mutualTLS":["pagamentos-lote.pagamentos-guias-sem-codigo-barras-info"]},{"OAuth2_Teste":["pagamentos-lote.pagamentos-guias-sem-codigo-barras-info"]},{"OAuth2_Producao":["pagamentos-lote.pagamentos-guias-sem-codigo-barras-info"]}]}},"/beneficiarios/{idBeneficiario}/transferencias":{"get":{"tags":["Transferência"],"summary":"Consultar transferências por beneficiário","description":"Consulta transferências bancárias realizadas para determinado beneficiário.\n<br>Responses de erro mais comuns atualmente:\n\n```(json)\n{\n\t\"errors\": [\n\t\t{\n\t\t\t\"codigo\": \"1\",\n\t\t\t\"versao\": \"1.1.2\",\n\t\t\t\"mensagem\": \"Ocorreu um problema.\",\n\t\t\t\"ocorrencia\": \"401b5ba39c8b41abaeb3dd79360dbd46\"\n\t\t}\n\t]\n}\n```","operationId":"18917924","parameters":[{"name":"idBeneficiario","in":"path","description":"Numero de inscrição do Beneficiário - CPF ou CNPJ - do favorecido do crédito a ser pesquisado.","required":true,"example":"12345678910","schema":{"pattern":"^\\d{1,14}$","type":"string","maxLength":14}},{"name":"agenciaDebito","in":"query","description":"Número da agência utilizada para débito.","required":false,"example":"1234","schema":{"format":"int32","type":"integer"}},{"name":"contaCorrenteDebito","in":"query","description":"Número da conta corrente utilizada para débito.","required":false,"example":"56789","schema":{"format":"int64","type":"integer"}},{"name":"digitoVerificadorContaCorrente","in":"query","description":"Dígito verificador da conta corrente de débito.","required":false,"example":"X","schema":{"type":"string","maxLength":1}},{"name":"tipoPagamento","in":"query","description":"Modalidade que representa o tipo de pagamento, sendo: 126 pagamento de fornecedores; 127 pagamento de salário e 128 pagamentos diversos","required":false,"example":"128","schema":{"format":"int32","type":"integer"}},{"name":"numeroCOMPE","in":"query","description":"Número COMPE (Código do Sistema de Operações Monetárias e Compensações de Outros Papéis) da instituição detentora da conta do favorecido. Uma lista de códigos permitidos é obtida através do [site do Banco Central](https://dadosabertos.bcb.gov.br/dataset/lista-de-participantes-do-str).","required":false,"example":"1","schema":{"format":"int32","type":"integer"}},{"name":"numeroISPB","in":"query","description":"Número ISPB (Identificador de Sistema de Pagamento Brasileiro) da instituição detentora da conta do favorecido. Uma lista de códigos permitidos é obtida através do [site do Banco Central](https://dadosabertos.bcb.gov.br/dataset/lista-de-participantes-do-str).Se atentar para o código \"0\" que é existente na relação do Banco Central.","required":false,"example":"0","schema":{"type":"string","maxLength":8}},{"name":"agenciaCredito","in":"query","description":"Número da agência da Conta Corrente onde foi efetuado o crédito do pagamento consultado. Quando informado, o campo contaPagamentoCredito, este deve ser branco.","required":false,"example":"4321","schema":{"format":"int32","type":"integer"}},{"name":"contaCorrenteCredito","in":"query","description":"Número da Conta Corrente onde foi efetuado o crédito do pagamento consultado. Quando informado, o campo contaPagamentoCredito, este deve ser branco.","required":false,"example":"98765","schema":{"format":"int64","type":"integer"}},{"name":"digitoVerificadorContaCorrenteCredito","in":"query","description":"Digito verificador da Conta corrente onde foi efetuado o crédito do pagamento consultado. Quando informado, o campo contaPagamentoCredito, este deve ser branco.","required":false,"example":"X","schema":{"type":"string","maxLength":1}},{"name":"contaPagamentoCredito","in":"query","description":"Número da Conta Pagamento dos pagamentos a serem pesquisados.<br>\n\nQuando informado, os campos agenciaCredito, contaCorrenteCredito e digitoVerificadorContaCorrenteCredito, este campo não deve ser informado.","required":false,"schema":{"type":"string","maxLength":20}},{"name":"dataInicio","in":"query","description":"Data inicial de envio da requisição a ser pesquisada (formato: ddmmaaaa).","required":true,"example":"1012026","schema":{"format":"int32","type":"integer"}},{"name":"dataFim","in":"query","description":"Data final de envio da requisição a ser pesquisada (formato: ddmmaaaa).","required":false,"example":"15012026","schema":{"format":"int32","type":"integer"}},{"name":"indice","in":"query","description":"Posição do índice de paginação. Indica a posição a partir da qual a pesquisa tratá os registros (ex: valor 0, indica que está trazendo a partir do registro 1, valor 300 indica que está trazendo a partir do 301). Cada resposta tem um limite de 300 ocorrências na lista paymentList, iniciada a partir do valor do índice fornecido. Para todas as ocorrências, itere sobre esse recurso usando o valor do campo indice da resposta.","required":false,"schema":{"format":"int32","type":"integer"}},{"name":"tipoBeneficiario","in":"query","description":"Tipo do número de inscrição da pessoa favorecida do crédito. Quando 1 é uma Pessoa Física (CPF) e 2 é Pessoa Jurídica (CNPJ).","required":true,"example":"2","schema":{"format":"int32","type":"integer"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"indice":{"type":"integer","format":"int32","description":"Numero da posição, do registro, para a proxima pesquisa.","examples":["0"]},"quantidadeTotalTransferencias":{"type":"integer","format":"int32","description":"Quantidade total de transferências da consulta.","examples":["10"]},"transferencias":{"type":"array","description":"Lista de detalhes dos pagamentos","maxItems":200,"items":{"type":"object","properties":{"identificador":{"type":"integer","format":"int64","description":"Identificação do lançamento, retornada pelo Banco no momento da solicitação.","examples":["90001210123456001"]},"estadoPagamento":{"type":"string","description":"Descrição da situação do lancamento. <br>\nDomínio: <br>\nConsistente <br>\nInconsistente <br>\nPendente <br>\nAgendado <br>\nPago <br>\nRejeitado <br>\nDevolvido <br>\nCancelado <br>\nDebitado <br>\nBloqueado <br>\nAguardando Débito","maxLength":20,"examples":["Pago"]},"tipoPagamento":{"type":"integer","format":"int32","description":"Código do produto. <br>\nDomínio: <br>\n126=Pagamento a Fornecedores; <br>\n127=Pagamento de Salários; <br>\n128=Pagamentos Diversos.","examples":["128"]},"tipoCredito":{"type":"integer","format":"int32","description":"A modalidade que representa a maneira como o crédito foi dado, descrito a seguir: <br>\n1 - Crédito em conta <br>\n3 - TED <br>\n5 - Crédito em poupança <br>\n13 - Guia com código de barras <br>\n21 - Guia sem código de barra <br>\n30 - Boleto Banco do Brasil <br>\n31 - Boleto outros bancos <br>\n45 - PIX <br>\n71 - Depósito judicial","examples":["45"]},"dataTransferencia":{"type":"integer","format":"int32","description":"Data da efetuação do pagamento.\n\nFormato: ddMMyyyy","examples":["17042026"]},"valorTransferencia":{"type":"number","format":"float","description":"Valor do lançamento.","examples":["400.75"]},"documentoDebito":{"type":"integer","format":"int64","description":"Quando não informado ou informados números idênticos para todos os lançamentos de uma mesma requisição: o débito na conta do pagador será exibido em um único registro no valor total dos lançamentos validados. <br>\n\nQuando informados números diversos para cada lançamento: os débitos serão exibidos de forma individualizada no extrato da conta debitada. <br>\n\nO número de documento do débito é consolidado a partir do dia seguinte da efetivação destes lançamentos.","examples":["0"]},"numeroCOMPE":{"type":"string","description":"Número COMPE (Código do Sistema de Operações Monetárias e Compensações de Outros Papéis) da instituição detentora da conta do favorecido. Uma lista de códigos permitidos é obtida através do [site do Banco Central](https://dadosabertos.bcb.gov.br/dataset/lista-de-participantes-do-str).","maxLength":3,"examples":["1"]},"numeroISPB":{"type":"string","description":"Número ISPB (Identificador de Sistema de Pagamento Brasileiro) da instituição detentora da conta do favorecido. Uma lista de códigos permitidos é obtida através do [site do Banco Central](https://dadosabertos.bcb.gov.br/dataset/lista-de-participantes-do-str).Se atentar para o código \"0\" que é existente na relação do Banco Central.","maxLength":8,"examples":["0"]},"agenciaCredito":{"type":"integer","format":"int32","description":"Número da Agência da Conta do favorecido onde foi efetuado o crédito.","examples":["4321"]},"contaCorrenteCredito":{"type":"integer","format":"int64","description":"Número da Conta Corrente do favorecido onde foi efetuado o crédito.","examples":["98765"]},"digitoVerificadorContaCorrente":{"type":"string","description":"Dígito verificador da Conta Corrente do favorecido onde foi efetuado o crédito.","maxLength":1,"examples":["X"]},"contaPagamentoCredito":{"type":"string","description":"Número da conta pagamento do favorecido onde foi efetuado o crédito.","maxLength":20},"tipoBeneficiario":{"type":"integer","format":"int32","description":"Determina se será enviado um Nº CPF ou um Nº de CNPJ no campo de identificação da pessoa. <br>\n\n1 - Pessoa Física <br>\n\n2 - Pessoa Jurídica <br>","examples":["2"]},"cpfCnpjBeneficiario":{"type":"string","description":"Identificação de Pessoa Física ou Jurídica.","maxLength":14,"examples":["12345678000110"]},"nomeBeneficiario":{"type":"string","description":"Nome da pessoa ou empresa beneficiária no pagamento","maxLength":40},"codigoAutenticacaoPagamento":{"type":"string","description":"Código de autenticação do pagamento.","maxLength":16,"examples":["F033A03D67666112"]},"codigoFinalidadeDOC":{"type":"integer","format":"int32","description":"**deprecated** <br>\nCódigo adotado pela FEBRABAN para identificação da finalidade do DOC.","examples":["0"]},"codigoFinalidadeTED":{"type":"integer","format":"int32","description":"Codigo adotado pelo Banco Central para identificar a finalidade da TED.","examples":["1"]},"numeroDepositoJudicial":{"type":"string","description":"Número do depósito judicial informado como favorecido do crédito. <br>\n\nDisponível para efetivação de Depósito Judicial no BB.","maxLength":20},"numeroRequisicao":{"type":"integer","format":"int32","description":"Identificação da solicitação de pagamento. Número único, não sequencial, controlado pelo cliente.","examples":["1210"]},"numeroArquivoPagamento":{"type":"integer","format":"int32","description":"Numero do arquivo em que foi solicitado o pagamento quando utilizado arquivo CNAB240. <br>\n\nNº único controlado pelo cliente conveniado/pagador.","examples":["0"]},"agenciaDebito":{"type":"integer","format":"int32","description":"Número da agência utilizada para débito.","examples":["1234"]},"contaCorrenteDebito":{"type":"integer","format":"int64","description":"Número da conta corrente utilizada para débito.","examples":["56789"]},"digitoVerificadorContaCorrenteDebito":{"type":"string","description":"Dígito verificador da conta corrente de débito.","maxLength":1,"examples":["X"]},"inicioCartao":{"type":"integer","format":"int32","description":"Primeiros 4 numeros do cartao de credito do pagador, caso o debito tenha sido feito nele.","examples":["0"]},"fimCartao":{"type":"integer","format":"int32","description":"Últimos 4 numeros do cartao de credito do pagador, caso o debito tenha sido feito nele.","examples":["0"]},"descricaoTransferencia":{"type":"string","description":"Campo de uso livre pelo Cliente Conveniado - sem tratamento pelo Banco.","maxLength":40},"formaTransmissao":{"type":"integer","format":"int32","description":"Código da Forma de transmissão de envio do lançamento consultado. <br>\n1 - API <br>\n2 - Arquivo CNAB <br>\n3 - Pagamento Online via Gerenciador Financeiro <br>\n4 - Sistemas Internos <br>\n99 - Outros","examples":["1"]}}}}}}}}},"422":{"description":"Erro Negocial","content":{"application/json":{"schema":{"$ref":"#/components/schemas/erroMsg"}}}},"500":{"description":"Erro Sistema","content":{"application/json":{"schema":{"$ref":"#/components/schemas/erroMsg"}}}}},"security":[{"apikey":[]},{"mutualTLS":["pagamentos-lote.transferencias-info"]},{"OAuth2_Teste":["pagamentos-lote.transferencias-info"]},{"OAuth2_Producao":["pagamentos-lote.transferencias-info"]}]}},"/lotes-boletos/{idRequisicao}/solicitacao":{"get":{"tags":["Boletos"],"summary":"Consultar requisição de boletos","description":"Consulta a solicitação de pagamento em lote de boletos.\n\nGeralmente utilizada quando:\n\n- A empresa não recebeu a confirmação de acolhimento da solicitação;\n\n- É necessário recuperar a resposta original da funcionalidade de solicitar pagamento;\n\n- Seja preciso confirmar que o número da requisição de pagamento já foi utilizado.\n<br>Responses de erro mais comuns atualmente:\n\n```(json)\n{\n\t\"errors\": [\n\t\t{\n\t\t\t\"codigo\": \"1\",\n\t\t\t\"versao\": \"1.1.2\",\n\t\t\t\"mensagem\": \"Ocorreu um problema.\",\n\t\t\t\"ocorrencia\": \"401b5ba39c8b41abaeb3dd79360dbd46\"\n\t\t}\n\t]\n}\n```","operationId":"18917904","parameters":[{"name":"idRequisicao","in":"path","description":"Identificação da solicitação de pagamento. É um número único, não sequencial, controlado pelo cliente, cujo valor varia de 1 a 9999999.","required":true,"example":"1210","schema":{"format":"int32","pattern":"^\\d{1,7}$","type":"integer"}},{"name":"agencia","in":"query","description":"Número da agência utilizada para débito.","required":false,"example":"1234","schema":{"format":"int32","type":"integer"}},{"name":"contaCorrente","in":"query","description":"Número da conta corrente utilizada para débito.","required":false,"example":"56789","schema":{"format":"int64","type":"integer"}},{"name":"digitoVerificador","in":"query","description":"Dígito verificador da conta corrente de débito.","required":false,"example":"X","schema":{"type":"string","maxLength":1}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"estadoRequisicao":{"type":"integer","format":"int32","description":"Código que identifica o estado da solicitação. <br>\n1 - Todos os lançamentos com dados consistentes; <br>\n2 - Ao menos um dos lançamentos com dados inconsistentes; <br>\n3 - Todos os lançamentos com dados inconsistentes; <br>\n4 - Pendente de ação pelo Conveniado - falta autorizar o pagamento; <br>\n5 - Em processamento pelo Banco; <br>\n6 - Processada; <br>\n7 - Rejeitada; <br>\n8 - Preparando remessa não liberada; <br>\n9 - Liberada via API; <br>\n10 - Preparando remessa liberada. <br>","examples":["1"]},"quantidadeLancamentos":{"type":"integer","format":"int32","description":"Quantidade total de Pagamentos","examples":["1"]},"valorLancamentos":{"type":"number","format":"float","description":"Valor total dos lançamentos.","examples":["400.75"]},"quantidadeLancamentosValidos":{"type":"integer","format":"int32","description":"Quantidade total de lançamentos válidos","examples":["1"]},"valorLancamentosValidos":{"type":"number","format":"float","description":"Valor total dos lançamentos válidos.","examples":["400.75"]},"lancamentos":{"type":"array","description":"Lista dos boletos","maxItems":100,"items":{"type":"object","properties":{"codigoIdentificadorPagamento":{"type":"integer","format":"int64","description":"Identificação do lançamento, retornada pelo Banco no momento da solicitação.","examples":["90001210123456001"]},"numeroDocumentoDebito":{"type":"integer","format":"int64","description":"Quando não informado ou informados números idênticos para todos os lançamentos de uma mesma requisição: o débito na conta do pagador será exibido em um único registro no valor total dos lançamentos validados.\n\nQuando informados números diversos para cada lançamento: os débitos serão exibidos de forma individualizada no extrato da conta debitada.\n\nO número de documento do débito é consolidado a partir do dia seguinte da efetivação destes lançamentos.","examples":["361751"]},"numeroCodigoBarras":{"type":"string","description":"Código de barras do boleto.","maxLength":44,"examples":["00197120000000005000000003068980002025000517"]},"dataPagamento":{"type":"integer","format":"int32","description":"Data da efetuação do pagamento.\n\nFormato: ddMMyyyy","examples":["17042026"]},"valorPagamento":{"type":"number","format":"float","description":"Valor do lançamento.","examples":["400.75"]},"descricaoPagamento":{"type":"string","description":"Campo de uso livre pelo Cliente Conveniado - sem tratamento pelo Banco.","maxLength":40},"codigoSeuDocumento":{"type":"string","description":"Seu número na solicitação de pagamento. Não validado pelo Banco.","maxLength":20},"codigoNossoDocumento":{"type":"string","description":"Nº indicado no Boleto no campo Nosso Número.","maxLength":20},"valorNominal":{"type":"number","format":"float","description":"Valor do boleto registrado pelo Beneficiário do Boleto.","examples":["400.75"]},"valorDesconto":{"type":"number","format":"float","description":"Valor do desconto ou do abatimento registrados pelo Beneficiário do Boleto.","examples":["0"]},"valorMoraMulta":{"type":"number","format":"float","description":"Valor da mora ou multa registrados pelo Beneficiário do Boleto.","examples":["0"]},"codigoTipoPagador":{"type":"integer","format":"int32","description":"Determina se será enviado um Nº CPF ou um Nº de CNPJ no campo de identificação da pessoa.\n\n1 - Pessoa Física\n\n2 - Pessoa Jurídica","examples":["0"]},"documentoPagador":{"type":"string","description":"Identificação de Pessoa Física ou Jurídica.","maxLength":14,"examples":["0"]},"nomePagador":{"type":"string","description":"Nome do Pagador - dado retornado pelo Banco","maxLength":40},"codigoTipoBeneficiario":{"type":"integer","format":"int32","description":"Determina se será enviado um Nº CPF ou um Nº de CNPJ no campo de identificação da pessoa.\n\n1 - Pessoa Física\n\n2 - Pessoa Jurídica","examples":["2"]},"documentoBeneficiario":{"type":"string","description":"Identificação de Pessoa Física ou Jurídica.","maxLength":14,"examples":["12345678000110"]},"nomeBeneficiario":{"type":"string","description":"Nome da pessoa ou empresa beneficiária no pagamento","maxLength":40},"codigoTipoAvalista":{"type":"integer","format":"int32","description":"Determina se será enviado um Nº CPF ou um Nº de CNPJ no campo de identificação da pessoa.\n\n1 - Pessoa Física\n\n2 - Pessoa Jurídica","examples":["0"]},"documentoAvalista":{"type":"string","description":"Identificação de Pessoa Física ou Jurídica.","maxLength":14,"examples":["0"]},"nomeAvalista":{"type":"string","description":"Nome do Avalista - dado retornado pelo Banco","maxLength":40},"indicadorAceite":{"type":"string","description":"Indicador de validação do preenchimento dos campos de cada lançamento.\n\nS = Sim (Indica que os dados foram informados conforme regra de preenchimento).\n\nN = Não (Indica que os dados não foram informados conforme regra de preenchimento).\n\nQuando não aceito o Cliente Conveniado deverá observar os erros descritos nos campos Código de Erros e enviar novo Lançamento com os dados corrigidos.\n\nQuando aceito o Cliente Conveniado deverá aguardar a validação dos dados","maxLength":1,"examples":["S"]},"erros":{"type":"array","maxItems":10,"items":{"type":"integer","format":"int32","description":"Lista dos códigos que motivaram a não conclusão do lançamento. Devem ser verificados para correção dos dados. [Disponível aqui.](https://apoio.developers.bb.com.br/apis/23?versaoApi=1&topico=17214435)","examples":["0"]}}}}}}}}}},"422":{"description":"Erro Negocial","content":{"application/json":{"schema":{"$ref":"#/components/schemas/erroMsg"}}}},"500":{"description":"Erro Sistema","content":{"application/json":{"schema":{"$ref":"#/components/schemas/erroMsg"}}}}},"security":[{"apikey":[]},{"mutualTLS":["pagamentos-lote.boletos-info"]},{"OAuth2_Teste":["pagamentos-lote.boletos-info"]},{"OAuth2_Producao":["pagamentos-lote.boletos-info"]}]}},"/lotes-boletos":{"post":{"tags":["Boletos"],"summary":"Solicitar pagamento em lote de boletos","description":"Efetua solicitação de pagamentos em lote de boletos.\n<br>Responses de erro mais comuns atualmente:\n\n```(json)\n{\n\t\"errors\": [\n\t\t{\n\t\t\t\"codigo\": \"1\",\n\t\t\t\"versao\": \"1.1.2\",\n\t\t\t\"mensagem\": \"Ocorreu um problema.\",\n\t\t\t\"ocorrencia\": \"401b5ba39c8b41abaeb3dd79360dbd46\"\n\t\t}\n\t]\n}\n```","operationId":"18917902","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"numeroRequisicao":{"type":"integer","format":"int32","description":"Identificação da solicitação de pagamento. Número único, não sequencial, controlado pelo cliente.","examples":["1210"]},"codigoContrato":{"type":"integer","format":"int32","description":"Contrato de pagamento entre o terceiro e o Banco do Brasil.","examples":["123456"]},"numeroAgenciaDebito":{"type":"integer","format":"int32","description":"Número da agência utilizada para débito.","examples":["1234"]},"numeroContaCorrenteDebito":{"type":"integer","format":"int64","description":"Número da conta corrente utilizada para débito.","examples":["56789"]},"digitoVerificadorContaCorrenteDebito":{"type":"string","description":"Dígito verificador da conta corrente de débito.","maxLength":1,"examples":["X"]},"lancamentos":{"type":"array","description":"Lista com até 100 títulos a serem pagos.","maxItems":100,"items":{"type":"object","properties":{"numeroDocumentoDebito":{"type":"integer","format":"int64","description":"Quando não informado ou informados números idênticos para todos os lançamentos de uma mesma requisição: o débito na conta do pagador será exibido em um único registro no valor total dos lançamentos validados.\n\nQuando informados números diversos para cada lançamento: os débitos serão exibidos de forma individualizada no extrato da conta debitada.\n\nO número de documento do débito é consolidado a partir do dia seguinte da efetivação destes lançamentos.","examples":["361751"]},"numeroCodigoBarras":{"type":"string","description":"Código de barras do boleto a ser pago. Não é aceito o número da linha digitável.","maxLength":44,"examples":["00197120000000005000000003068980002025000517"]},"dataPagamento":{"type":"integer","format":"int32","description":"Data da efetuação do pagamento.","examples":["17042026"]},"valorPagamento":{"type":"number","format":"float","description":"Valor do lançamento.","examples":["400.75"]},"descricaoPagamento":{"type":"string","description":"Campo de uso livre pelo Cliente Conveniado - sem tratamento pelo Banco.","maxLength":40},"codigoSeuDocumento":{"type":"string","description":"Seu número na solicitação de pagamento. Não validado pelo Banco.","maxLength":20},"codigoNossoDocumento":{"type":"string","description":"Nº indicado no Boleto no campo Nosso Número.","maxLength":20},"valorNominal":{"type":"number","format":"float","description":"Valor do boleto registrado pelo Beneficiário do Boleto.","examples":["400.75"]},"valorDesconto":{"type":"number","format":"float","description":"Valor do desconto ou do abatimento registrados pelo Beneficiário do Boleto.","examples":["0.00"]},"valorMoraMulta":{"type":"number","format":"float","description":"Valor da mora ou multa registrados pelo Beneficiário do Boleto.","examples":["0.00"]},"codigoTipoPagador":{"type":"integer","format":"int32","description":"Determina se será enviado um Nº CPF ou um Nº de CNPJ no campo de identificação da pessoa pagadora.","examples":["0"]},"documentoPagador":{"type":"string","description":"Identificação de Pessoa Física ou Jurídica da pessoa pagadora.","maxLength":14,"examples":["0"]},"codigoTipoBeneficiario":{"type":"integer","format":"int32","description":"Determina se será enviado um Nº CPF ou um Nº de CNPJ no campo de identificação da pessoa beneficiária.","examples":["2"]},"documentoBeneficiario":{"type":"string","description":"Identificação de Pessoa Física ou Jurídica da pessoa beneficiária.","maxLength":14,"examples":["12345678000110"]},"codigoTipoAvalista":{"type":"integer","format":"int32","description":"Determina se será enviado um Nº CPF ou um Nº de CNPJ no campo de identificação da pessoa avalista.","examples":["0"]},"documentoAvalista":{"type":"string","description":"Identificação de Pessoa Física ou Jurídica da pessoa avalista.","maxLength":14,"examples":["0"]}},"required":["numeroCodigoBarras","dataPagamento","valorPagamento","codigoTipoBeneficiario","documentoBeneficiario"]}}},"required":["numeroRequisicao","numeroAgenciaDebito","numeroContaCorrenteDebito","digitoVerificadorContaCorrenteDebito","lancamentos"]}}}},"responses":{"201":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"numeroRequisicao":{"type":"integer","format":"int32","description":"Identificação da solicitação de pagamento. Número único, não sequencial, controlado pelo cliente.","examples":["1210"]},"estadoRequisicao":{"type":"integer","format":"int32","description":"Código que identifica o estado da solicitação. <br>\n1 - Todos os lançamentos com dados consistentes; <br>\n2 - Ao menos um dos lançamentos com dados inconsistentes; <br>\n3 - Todos os lançamentos com dados inconsistentes; <br>\n4 - Pendente de ação pelo Conveniado - falta autorizar o pagamento; <br>\n5 - Em processamento pelo Banco; <br>\n6 - Processada; <br>\n7 - Rejeitada; <br>\n8 - Preparando remessa não liberada; <br>\n9 - Liberada via API; <br>\n10 - Preparando remessa liberada.","examples":["1"]},"quantidadeLancamentos":{"type":"integer","format":"int32","description":"Quantidade de lançamentos.","examples":["1"]},"valorLancamentos":{"type":"number","format":"float","description":"Valor total dos lançamentos.","examples":["400.75"]},"quantidadeLancamentosValidos":{"type":"integer","format":"int32","description":"Quantidade de lançamentos válidos.","examples":["1"]},"valorLancamentosValidos":{"type":"number","format":"float","description":"Valor total dos lançamentos válidos.","examples":["400.75"]},"lancamentos":{"type":"array","description":"Lista com até 100 guias a serem pagas.","maxItems":100,"items":{"type":"object","properties":{"codigoIdentificadorPagamento":{"type":"integer","format":"int64","description":"Identificação do lançamento, retornada pelo Banco no momento da solicitação.","examples":["90001210123456001"]},"numeroDocumentoDebito":{"type":"integer","format":"int64","description":"Quando não informado ou informados números idênticos para todos os lançamentos de uma mesma requisição: o débito na conta do pagador será exibido em um único registro no valor total dos lançamentos validados.\n\nQuando informados números diversos para cada lançamento: os débitos serão exibidos de forma individualizada no extrato da conta debitada.\n\nO número de documento do débito é consolidado a partir do dia seguinte da efetivação destes lançamentos.","examples":["361751"]},"numeroCodigoBarras":{"type":"string","description":"Código de barras do boleto a ser pago. Não é aceito o número da linha digitável.","maxLength":44,"examples":["00197120000000005000000003068980002025000517"]},"dataPagamento":{"type":"integer","format":"int32","description":"Data da efetuação do pagamento.","examples":["17042026"]},"valorPagamento":{"type":"number","format":"float","description":"Valor do lançamento.","examples":["400.75"]},"descricaoPagamento":{"type":"string","description":"Campo de uso livre pelo Cliente Conveniado - sem tratamento pelo Banco.","maxLength":40},"codigoSeuDocumento":{"type":"string","description":"Seu número na solicitação de pagamento. Não validado pelo Banco.","maxLength":20},"codigoNossoDocumento":{"type":"string","description":"Nº indicado no Boleto no campo Nosso Número.","maxLength":20},"valorNominal":{"type":"number","format":"float","description":"Valor do boleto registrado pelo Beneficiário do Boleto.","examples":["400.75"]},"valorDesconto":{"type":"number","format":"float","description":"Valor do desconto ou do abatimento registrados pelo Beneficiário do Boleto.","examples":["0.00"]},"valorMoraMulta":{"type":"number","format":"float","description":"Valor da mora ou multa registrados pelo Beneficiário do Boleto.","examples":["0.00"]},"codigoTipoPagador":{"type":"integer","format":"int32","description":"Determina se será enviado um Nº CPF ou um Nº de CNPJ no campo de identificação da pessoa. <br>\n1 - Pessoa Física <br>\n2 - Pessoa Jurídica","examples":["0"]},"documentoPagador":{"type":"string","description":"Identificação de Pessoa Física ou Jurídica.","maxLength":14,"examples":["0"]},"nomePagador":{"type":"string","description":"Nome do Pagador - dado retornado pelo Banco","maxLength":40},"codigoTipoBeneficiario":{"type":"integer","format":"int32","description":"Determina se será enviado um Nº CPF ou um Nº de CNPJ no campo de identificação da pessoa. <br>\n1 - Pessoa Física <br>\n2 - Pessoa Jurídica","examples":["2"]},"documentoBeneficiario":{"type":"string","description":"Identificação de Pessoa Física ou Jurídica.","maxLength":14,"examples":["12345678000110"]},"nomeBeneficiario":{"type":"string","description":"Nome da pessoa ou empresa beneficiária no pagamento","maxLength":40},"codigoTipoAvalista":{"type":"integer","format":"int32","description":"Determina se será enviado um Nº CPF ou um Nº de CNPJ no campo de identificação da pessoa.\n\n1 - Pessoa Física\n\n2 - Pessoa Jurídica","examples":["0"]},"documentoAvalista":{"type":"string","description":"Identificação de Pessoa Física ou Jurídica.","maxLength":14,"examples":["0"]},"nomeAvalista":{"type":"string","description":"Nome do Avalista - dado retornado pelo Banco","maxLength":40},"indicadorAceite":{"type":"string","description":"Indicador de validação do preenchimento dos campos de cada lançamento. <br>\nS = Sim (Indica que os dados foram informados conforme regra de preenchimento). <br>\nN = Não (Indica que os dados não foram informados conforme regra de preenchimento). <br>\nQuando não aceito o Cliente Conveniado deverá observar os erros descritos nos campos Código de Erros e enviar novo Lançamento com os dados corrigidos. <br>\nQuando aceito o Cliente Conveniado deverá aguardar a validação dos dados","maxLength":1},"errorCodes":{"type":"array","maxItems":10,"items":{"type":"integer","format":"int32","description":"Lista dos códigos que motivaram a não conclusão do lançamento. Devem ser verificados para correção dos dados. [Disponível aqui.](https://apoio.developers.bb.com.br/apis/23?versaoApi=1&topico=17214435)","examples":["0"]}}}}}}}}}},"422":{"description":"Erro Negocial","content":{"application/json":{"schema":{"$ref":"#/components/schemas/erroMsg"}}}},"500":{"description":"Erro Sistema","content":{"application/json":{"schema":{"$ref":"#/components/schemas/erroMsg"}}}}},"security":[{"apikey":[]},{"mutualTLS":["pagamentos-lote.boletos-requisicao"]},{"OAuth2_Teste":["pagamentos-lote.boletos-requisicao"]},{"OAuth2_Producao":["pagamentos-lote.boletos-requisicao"]}]}},"/darf-preto/{idLancamento}":{"get":{"tags":["DARF Preto"],"summary":"Consultar pagamento específico de DARF","description":"Detalha os dados de um lançamento de DARF.\n<br>Responses de erro mais comuns atualmente:\n\n```(json)\n{\n\t\"errors\": [\n\t\t{\n\t\t\t\"codigo\": \"1\",\n\t\t\t\"versao\": \"1.1.2\",\n\t\t\t\"mensagem\": \"Ocorreu um problema.\",\n\t\t\t\"ocorrencia\": \"401b5ba39c8b41abaeb3dd79360dbd46\"\n\t\t}\n\t]\n}\n```","operationId":"18917910","parameters":[{"name":"idLancamento","in":"path","description":"Identificação do lançamento, retornada pelo Banco no momento da solicitação. Valor varia de 90000000000000001 a 99999999999999999.","required":true,"example":"90001210123456001","schema":{"format":"int64","pattern":"^\\d{1,17}$","type":"integer"}},{"name":"agencia","in":"query","description":"Número da agência utilizada para débito.","required":false,"example":"1234","schema":{"format":"int32","type":"integer"}},{"name":"contaCorrente","in":"query","description":"Número da conta corrente utilizada para débito.","required":false,"example":"56789","schema":{"format":"int64","type":"integer"}},{"name":"digitoVerificador","in":"query","description":"Dígito verificador da conta corrente de débito.","required":false,"example":"X","schema":{"type":"string","maxLength":1}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"integer","format":"int64","description":"Identificação do lançamento, retornada pelo Banco no momento da solicitação.","examples":["90001210123456001"]},"estadoPagamento":{"type":"string","description":"Texto que identifica o estado do lançamento, descrito conforme a seguir:<br>\n1 - Consistente,<br>\n2 - Inconsistente,<br>\n3 - Pendente,<br>\n4 - Agendado,<br>\n5 - Pago,<br>\n6 - Rejeitado,<br>\n7 - Devolvido,<br>\n8 - Cancelado,<br>\n9 - Debitado,<br>\n10 - Bloqueado,<br>\n11 - Aguardando Débito.","maxLength":20,"examples":["CONSISTENTE"]},"agenciaDebito":{"type":"integer","format":"int32","description":"Número da agência utilizada para débito.","examples":["1234"]},"contaCorrenteDebito":{"type":"integer","format":"int64","description":"Número da conta corrente utilizada para débito.","examples":["56789"]},"digitoVerificadorContaCorrenteDebito":{"type":"string","description":"Dígito verificador da conta corrente de débito.","maxLength":1,"examples":["X"]},"inicioCartaoCredito":{"type":"integer","format":"int32","description":"Primeiros 4 numeros do cartao de credito do pagador, caso o debito tenha sido feito nele.","examples":["0"]},"fimCartaoCredito":{"type":"integer","format":"int32","description":"Últimos 4 numeros do cartao de credito do pagador, caso o debito tenha sido feito nele.","examples":["0"]},"dataPagamento":{"type":"integer","format":"int32","description":"Data da efetuação do pagamento.\nFormato: ddMMyyyy","examples":["17042026"]},"valorPagamento":{"type":"number","format":"float","description":"Valor do lançamento.","examples":["40.75"]},"documentoDebito":{"type":"integer","format":"int64","description":"Quando não informado ou informados números idênticos para todos os lançamentos de uma mesma requisição: o débito na conta do pagador será exibido em um único registro no valor total dos lançamentos validados.<br>\nQuando informados números diversos para cada lançamento: os débitos serão exibidos de forma individualizada no extrato da conta debitada.<br>\nO número de documento do débito é consolidado a partir do dia seguinte da efetivação destes lançamentos.","examples":["361751"]},"codigoAutenticacaoPagamento":{"type":"string","description":"Código de autenticação do pagamento.","maxLength":16,"examples":["F033A03D67666112"]},"listaPagamentos":{"type":"array","description":"listaPagamentos","maxItems":1,"items":{"type":"object","properties":{"codigo":{"type":"integer","format":"int32","description":"Codigo tributo na Rec.Federal.","examples":["1708"]},"tipoContribuinte":{"type":"integer","format":"int32","description":"Codigo do tipo de identificacao do contribuinte. <br>\nDOMÍNIOS: <br>\n1 - CNPJ <br>\n2 - CPF <br>\n3 - NIT/PIS/PASEP <br>\n4 - CEI <br>\n6 - NB <br>\n7 - N° Título <br>\n8 - DEBCAD <br>\n9 - Referência","examples":["1"]},"identificacaoContribuinte":{"type":"string","description":"Nr identificacao do contribuinte conforme tipo informado no campo precedente (Codigo Tipo Contribuinte Normal).","maxLength":14,"examples":["12345678000110"]},"identificacaoTributo":{"type":"string","description":"Codigo identificador do tributo.","maxLength":2,"examples":["16"]},"dataApuracao":{"type":"integer","format":"int32","description":"Data do período de apuração do DARF.","examples":["17032026"]},"numeroReferencia":{"type":"integer","format":"int64","description":"Numero de referência do DARF.","examples":["10384720015201579"]},"valorPrincipal":{"type":"number","format":"float","description":"Valor do principal informado na solicitação de pagamento.","examples":["400.75"]},"valorMulta":{"type":"number","format":"float","description":"Valor da multa informada na solicitação de pagamento.","examples":["0"]},"valorJuroEncargo":{"type":"number","format":"float","description":"Valor dos juros/encargos informados na solicitação de pagamento.","examples":["0"]},"dataVencimento":{"type":"integer","format":"int32","description":"Data de vencimento do DARF informado na solicitação de pagamento.","examples":["17052026"]},"textoLivre":{"type":"string","description":"Campo livre informado pelo pagador quando do envio do lançamento consultado \u0013 sem tratamento pelo Banco.","maxLength":80}}}},"listaDevolucao":{"type":"array","description":"listaDevolucao","maxItems":10,"items":{"type":"object","properties":{"codigoMotivo":{"type":"integer","format":"int32","description":"Quando o pagamento estiver na situação:<br>\nInconsistente ou Rejeitado - Detalha os motivos da rejeição do lançamento.<br>\nDevolvido - Detalha os motivos da devolução informada pelo Beneficiario do pagamento devolvido.<br>","examples":["0"]}}}}}}}}},"422":{"description":"Erro Negocial","content":{"application/json":{"schema":{"$ref":"#/components/schemas/erroMsg"}}}},"500":{"description":"Erro Sistema","content":{"application/json":{"schema":{"$ref":"#/components/schemas/erroMsg"}}}}},"security":[{"apikey":[]},{"mutualTLS":["pagamentos-lote.pagamentos-info"]},{"OAuth2_Teste":["pagamentos-lote.pagamentos-info"]},{"OAuth2_Producao":["pagamentos-lote.pagamentos-info"]}]}},"/pagamentos":{"get":{"tags":["Pagamentos"],"summary":"Consultar pagamentos devolvidos","description":"Consulta pagamentos de Pix e transferências devolvidos.\n<br>Responses de erro mais comuns atualmente:\n\n```(json)\n{\n\t\"errors\": [\n\t\t{\n\t\t\t\"codigo\": \"1\",\n\t\t\t\"versao\": \"1.1.2\",\n\t\t\t\"mensagem\": \"Ocorreu um problema.\",\n\t\t\t\"ocorrencia\": \"401b5ba39c8b41abaeb3dd79360dbd46\"\n\t\t}\n\t]\n}\n```","operationId":"18917897","parameters":[{"name":"agenciaDebito","in":"query","description":"Número da agência utilizada para débito.","required":false,"example":"1234","schema":{"format":"int32","type":"integer"}},{"name":"contaCorrenteDebito","in":"query","description":"Número da conta corrente utilizada para débito.","required":false,"example":"56789","schema":{"format":"int64","type":"integer"}},{"name":"digitoVerificadorContaCorrente","in":"query","description":"Dígito verificador da conta corrente de débito.","required":false,"example":"X","schema":{"type":"string","maxLength":1}},{"name":"numeroContratoPagamento","in":"query","description":"Contrato de pagamento entre o terceiro e o Banco do Brasil.","required":false,"example":"123456","schema":{"format":"int32","type":"integer"}},{"name":"dataInicio","in":"query","description":"Data inicial de envio da requisição a ser pesquisada.","required":true,"example":"6112026","schema":{"format":"int32","type":"integer"}},{"name":"dataFim","in":"query","description":"Data final de envio da requisição a ser pesquisada. Não pode ser um intervalo maior que 30 dias.","required":false,"example":"16012026","schema":{"format":"int32","type":"integer"}},{"name":"indice","in":"query","description":"Posição do índice na pesquisa, utilizado para fazer a paginação. A primeira consulta deve ter o valor zerado. Cada resposta tem um limite de 100 registros, e inicia-se a partir do valor do índice fornecido. Para consultar todos os registros, itere sobre este recurso usando o valor do campo \"indice\" que vem na da resposta.","required":false,"example":"0","schema":{"format":"int32","type":"integer"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","properties":{"indice":{"type":"integer","format":"int32","description":"Numero da posição, do registro para a próxima pesquisa.","examples":["0"]},"quantidadeTotalRegistros":{"type":"integer","format":"int32","description":"Quantidade total de pagamentos para a condição de pesquisa feita.","examples":["150"]},"quantidadeRegistros":{"type":"integer","format":"int32","description":"Quantidade de registros presentes na lista retornada na última consulta.","examples":["100"]},"pagamentos":{"type":"array","description":"Lista de pagamentos consultados. A quantidade de registro em cada consulta pode ter até 100 pagamentos.","maxItems":100,"items":{"type":"object","properties":{"identificadorPagamento":{"type":"integer","format":"int64","description":"Identificação do lançamento, retornada pelo Banco no momento da solicitação.","examples":["90001210123456001"]},"tipoPagamento":{"type":"integer","format":"int32","description":"Código do produto. <br>\nDomínio: <br>\n126=Pagamento a Fornecedores; <br>\n127=Pagamento de Salários; <br>\n128=Pagamentos Diversos.","examples":["128"]},"tipoCredito":{"type":"integer","format":"int32","description":"A modalidade que representa a maneira como o crédito foi dado, descrito a seguir: <br>\n1 - Crédito em conta <br>\n3 - TED <br>\n5 - Crédito em poupança <br>\n13 - Guia com código de barras <br>\n21 - Guia sem código de barra <br>\n30 - Boleto Banco do Brasil <br>\n31 - Boleto outros bancos <br>\n45 - PIX <br>\n71 - Depósito judicial <br>","examples":["45"]},"dataPagamento":{"type":"integer","format":"int32","description":"Data da efetuação do pagamento.","examples":["14012026"]},"compeCredito":{"type":"string","description":"Código de identificação da instituição para crédito na câmara de compensação (no Brasil, identificado pela sigla COMPE). Por exemplo, valor 1 para o Banco do Brasil e valor 104 para a Caixa Econômica Federal. Se o valor 0 for informado, o campo ispbCredito será considerado.","maxLength":3,"examples":["1"]},"ispbCredito":{"type":"string","description":"Código identificador do Sistema de Pagamento Brasileiro (Identificado pelo acrônimo ISPB) para crédito. Por exemplo, valor 0 para o Banco do Brasil e valor 360305 para a Caixa Econômica Federal.","maxLength":8,"examples":["0"]},"agenciaCredito":{"type":"integer","format":"int32","description":"Número da agência da conta do favorecido.","examples":["4321"]},"contaCredito":{"type":"integer","format":"int64","description":"Número da Conta Corrente do favorecido.","examples":["98765"]},"digitoVerificadorContaCredito":{"type":"string","description":"Dígito verificador da Conta Corrente do favorecido.","maxLength":1,"examples":["X"]},"contaPagamentoCredito":{"type":"string","description":"Número da conta pagamento do favorecido.","maxLength":20,"examples":["12345678910111213140"]},"tipoBeneficiario":{"type":"integer","format":"int32","description":"Código que identifica o tipo de pessoa do favorecido. <br>\nDomínio: <br>\n1 - CPF <br>\n2 - CNPJ","examples":["1"]},"cpfCnpj":{"type":"string","description":"Número do CPF ou do CNPJ do Favorecido/Beneficiário do pagamento informado no envio do lançamento na requisição.","maxLength":14,"examples":["12345678910"]},"nome":{"type":"string","description":"Nome da pessoa ou empresa beneficiária no pagamento","maxLength":40},"valorPagamento":{"type":"number","format":"float","description":"Valor do lançamento.","examples":["40.75"]},"codigoBarrasBoleto":{"type":"string","description":"Código de barras do boleto informado no envio do lançamento na requisição.","maxLength":44,"examples":["00193963500000020000500940144816060680935031"]},"valorBoleto":{"type":"number","format":"float","description":"Valor nominal do boleto informado no envio do lançamento na requisição.","examples":["40.75"]},"numeroRequisicao":{"type":"integer","format":"int32","description":"Identificação da solicitação de pagamento. Número único, não sequencial, controlado pelo cliente.","examples":["1210"]},"agenciaDebito":{"type":"integer","format":"int32","description":"Número da agência utilizada para débito.","examples":["1234"]},"contaCorrenteDebito":{"type":"integer","format":"int64","description":"Número da conta corrente utilizada para débito.","examples":["56789"]},"digitoVerificadorContaCorrenteDebito":{"type":"string","description":"Dígito verificador da conta corrente de débito.","maxLength":1,"examples":["X"]},"inicioCartao":{"type":"integer","format":"int32","description":"Primeiros 4 números do cartão de credito do pagador, caso o debito tenha sido feito nele.","examples":["0"]},"fimCartao":{"type":"integer","format":"int32","description":"Últimos 4 numeros do cartao de credito do pagador, caso o debito tenha sido feito nele.","examples":["0"]},"documentoDebito":{"type":"integer","format":"int64","description":"Quando não informado ou informados números idênticos para todos os lançamentos de uma mesma requisição: o débito na conta do pagador será exibido em um único registro no valor total dos lançamentos validados. <br>\nQuando informados números diversos para cada lançamento: os débitos serão exibidos de forma individualizada no extrato da conta debitada. <br>\nO número de documento do débito é consolidado a partir do dia seguinte da efetivação destes lançamentos.","examples":["361751"]},"dataDevolucao":{"type":"integer","format":"int32","description":"
[...]
